<?xml version="1.0" encoding="UTF-8"?>
<!--    2021-3-25 13:39:00：这部分内容是web-app第一个便签<web-app>内的内容，-->
<!--    去除该部分是为了在尚硅谷book项目中，不添加base，同时添加<servlet>和<servlet-mapping>内容标签就能够显示jsp页面-->
<web-app>
<!--        xmlns="http://java.sun.com/xml/ns/j2ee"-->
<!--        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--        version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee-->
<!--        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">-->
<!--        xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"-->


    <servlet>
    <servlet-name>SerachStudentServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.SerachStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>SerachStudentServlet</servlet-name>
    <url-pattern>/serachStudentServlet</url-pattern>
    </servlet-mapping>

<!--    配置监听器-->
<!--    <listener>-->
<!--        <listener-class>com.atguigu.listener.MyServletContextListenerImpl</listener-class>-->
<!--    </listener>-->

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.atguigu.web.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.atguigu.web.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/manager/bookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookServlet_qiantai</servlet-name>
        <servlet-class>com.atguigu.web.BookServlet_qiantai</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet_qiantai</servlet-name>
        <url-pattern>/client/bookServlet_qiantai</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>YonghuguanliServlet</servlet-name>
        <servlet-class>com.atguigu.web.YonghuguanliServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YonghuguanliServlet</servlet-name>
        <url-pattern>/manager/yonghuguanliServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientBookServlet</servlet-name>
        <servlet-class>com.atguigu.web.ClientBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientBookServlet</servlet-name>
        <url-pattern>/Client/bookServlet_qiantai</url-pattern>
    </servlet-mapping>
</web-app>
