.pg A {
    border-radius: 3px;
    padding-bottom: 0px;
    background-color: #f5f5f7;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    display: inline;
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    color: #666;
    margin-left: 4px;
    overflow: hidden;
    text-decoration: none;
    font-size: 10px;

}

.pg A.prev {
    border-radius: 3px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px
}

.pg A.nxt {
    border-radius: 3px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px
}

.pg A:hover {
    color: #1c1c1c;
    background-color: #e5e5e7;
}

.pg LABEL {
    border-radius: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f5f5f7;
    padding-left: 12px;
    padding-right: 12px;
    display: inline;
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    color: #666;
    margin-left: 4px;
    overflow: hidden;
    text-decoration: none;

}

.pg LABEL .pg_input {
    width: 25px;
    margin-bottom: 3px;
    *margin-bottom: 0px;
    border: #f5f5f7 1px solid;
    position: relative;
    top: -1px;
    color: #666;
    height: 14px;
    padding: 4px 3px;
    font-size: 14px;
}

.pg STRONG {
    border-radius: 3px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline;
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    color: #666;
    margin-left: 4px;
    overflow: hidden;
    background-color: #e5e5e7;
    text-decoration: none;
    padding-top: 0px;
}

.pg span.count {
    border-radius: 3px;
    padding-bottom: 0px;
    background-color: #f5f5f7;
    padding-left: 12px;
    padding-right: 12px;
    display: inline;
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    color: #666;
    margin-left: 4px;
    overflow: hidden;
    text-decoration: none;
    padding-top: 0px;
}

#pn_input {
    width: 30px;
    text-align: center;
}